.root {
    width: 680px !important;
    margin-top: 10px;
    padding: 17px !important;
    padding-bottom: 45px !important;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, .03);
    border-radius: 10px;
    cursor: pointer;
}